<h2>
    Stops ({{model.stops.length}})
    <span class="pull-right badge clockBadge">
        {{model.time}}
    </span>
</h2>

<div class="row">
    <div class="col-xs-12 col-sm-4">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="model.filterObj.Name" placeholder="Filter Stops">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-search signSearch"></span>
                </button>

            </div>
        </div>
    </div>
</div>


<hr />
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="stop in model.stops | filter:model.filterObj">
        <a ng-link="['Stop', { id:stop.Id }]">
            <span class="pull-left">
                {{stop.Name}}
            </span>
        </a>
    </div>
</div>